<h1>Game of Life</h1>
<p class="mb-5">This code kata is based on Conway's Game of Life.<br><i><small>Developed by Giacomo Pozzobon, 2022</small></i></p>

<div class="row">
  <div class="col-sm-6">
    <div class="card text-bg-light mb-3" style="max-width: 23rem;">
    	<div class="card-header">To Start</div>
      <div class="card-body">
        
        <% if user_signed_in? %>
        	<h5 class="card-title">Upload a File</h5>
        	<p class="card-text">To start 'Game of Life' please, upload a init File.<br/><b>Keep attention</b>: the file <u>must</u> be a <i>.txt</i> structured as follow.<br><i>es.</i><br>Generation 3:<br>4 8<br>........<br>....*...<br>...**...<br>........<br></p>

        	<hr>
        	<%= form_tag '/home/uploadfile' , multipart: true do %>
	  			<div class="mb-3"><%= file_field_tag "file" %></div>
	  			<%= submit_tag "Start", class: "btn btn-primary mb-2" %>
			<% end %>
        
        <% else %>

        	<h5 class="card-title">Please, Login</h5>
			<p class="card-text"><i>'Game of Life' won't start until you sign in.<br>I will wait...</i></p>

			<%= link_to "Login", new_user_session_path, class: "btn btn-primary" %> <%= link_to "Register", new_user_registration_path, class: "btn btn-light" %>

		<% end %>

      </div>
    </div>
  </div>
</div>
